
ARMAC++/.vs/ARMAC++/v17/.suo
*.db
ARMAC++/.vs/ARMAC++/v17/.suo
*.ipch
*.opendb
*.db-wal
*.db-shm
*.user
*.filters
.vs/ARMAC++/v17/.suo
*.obj
*.cbp
null
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
*.txt
*.idb
administradores.dat
*.vcxproj
*.vsidx
*.vsidx
